/*-------------------------
  Base Styles
-------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Overlock', cursive;
  color: #404040;
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  text-align: center;
  margin:0 20px;
}

h1 {
  font-weight: bold;
  background-color: #0f1f3d;
  color: #fff;
  padding: .75em;
}

form {
  margin: 10px auto;
  padding: 10px 20px;
  max-width: 400px;
  border-radius: 10px;
  display: block;
  text-align: left;
}

fieldset {
  border: 0;
  margin: 1.5em 0;
}

h2,
legend {
  color: #0f1f3d;
  font-weight: bold;
}

.info legend {
  border-top-style: double;
  border-bottom-style: solid;
}

label {
  color: #3973ac;
  font-size: 15px;
  display: block;
}

footer {
  text-align: center;
  color: #3973ac;
  font-style: italic;
}

/*-------------------------
    Form Styles
-------------------------*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: #d8e5f3;
  border-radius: 3px;
  text-align: right;
  font-size: 10px;
  color:#0f1f3d;
  height: 30px;
  outline: 0;
  width: 100%;
  margin: 8px 0 12px;
  border: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  background: #8ab1db;
}

#zip {
  width: 35%;
}

.newsletter {
  display: inline-block;
  margin: .25em 0 .75em 0;
}

.checkboxes,
.radios {
  display: inline;
}

#javascript,
#plain {
  margin-bottom: 1.5em;
}

textarea {
  height: 50px;
}

button {
  width: 100%;
  padding: 12px 40px;
  background-color: #0f1f3d;
  color: #fff;
  border-radius: 6px;
  border: 2px solid #d8e5f3;
  font-family: 'Overlock', cursive;
  font-weight: bold;
  font-size: 17px;
}


/*-------------------------
    Media Queries
-------------------------*/
/*--- Tablet ---*/
@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

/*--- Desktop ---*/
@media screen and (min-width: 760px) {
  form {
    max-width: 760px;
  }

  .clearfix::after {
   content: "";
   display: table;
   clear: both;
  }
}
